*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100px;
    width: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1{
    margin: 10px;
}

p{
    align-items: center;
}

table{
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

table, th, tr{
    border: 1px solid black;
    padding: 1px;
}

table, tr, td{
    border: 1px solid black;
    padding: 1px;
}
