*{
    margin: 0;
    padding: 0;
}

header{
    color: white;
    padding: 10px;
}

.nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 0px;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.social-links {
    margin-left: auto;
}

section {
    margin-top: 0;
    padding: 50px;
    
    background-color: black;
    color: #fff;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}